body {
	background-color:black;

}

p {
	text-align: left;
	color: gray;
	border: 3px black;
	border-style: dashed;
	font-size: medium;
	font-family: 'Roboto Slab';
}
h1{
	text-align: center;
	color: gray;
}

h2 {
	text-align: left;
	color: gray;
	font-size: medium;
	font-family: 'Roboto Slab';
}
p {
	margin: 25px 50px 25px 50px;

}

